<div class="about-us-container px-5">
    <img class="about-us-image" src="images/pasta-isolated-on-a-transparent-background-png.webp" alt="">
    <div class="details-part">
        <p class="text-warning">ABOUT OUR FOOD</p>
        <h1 class="text-light">WHERE QUALITY MEET EXCELLENT <span class="text-warning">SERVICE</span></h1>
        <small class="au-description">Its the perfect dining experience where every dish is crafted with fresh, high-quality Experience quick and efficient service that ensures your food is servead fresh Its the dining experience where every dish is crafted with fresh, high-quality ingredients</small>
        <div class="about-us-things d-flex my-3 justify-content-between">
            <div class="thing d-flex">
                <div class="fs-1 text-warning"><i class="fa-solid fa-medal"></i></div>
                <div style="margin-left: 1rem;">
                    <div class="fs-5 text-nowrap text-light fw-bold">SUPER QUALITY FOOD</div>
                    <div class="thing-text">A team of dreamers and doers building unique interactive music and art</div>
                </div>
            </div>
            <div class="thing d-flex">
                <div class="fs-1 text-warning"><i class="fa-regular fa-face-grin-stars"></i></div>
                <div style="margin-left: 1rem;">
                    <div class="fs-5 text-light fw-bold">WELL REPUTATION</div>
                    <div class="thing-text">A team of dreamers and doers building unique interactive music and art</div>
                </div>
            </div>
        </div>
        <small style="font-size: 0.8rem;" class="text-danger">A. Hamza Tok - chef</small>
    </div>
</div>