  <div id="carouselExampleRide" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <div class="slider-content-container">
          <img src="images/pasta.jpg" class="d-block w-100 slider-image" alt="...">
          <div class="slider-content">
            <div class="slider-subheader">WELCOME TO PASTARIA</div>
            <div class="slider-header">WE DON'T JUST COOK WE THREAD YOU TO DELICIACES</div>
            @* <button class="slider-button"><a style="text-decoration: none;" class="text-warning" href="menu.html">GO TO *@
            @*   MENU</a></button> *@
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="slider-content-container">
          <img src="images/pastaslider2.jpg" class="d-block w-100 slider-image" alt="...">
          <div class="slider-content">
            <div class="slider-subheader">SAVOR EVERY MOMENT</div>
            <div class="slider-header"> ENJOY OUR DELECTABLE OFFERINGS</div>
            @* <button class="slider-button"><a style="text-decoration: none;" class="text-warning" href="menu.html">GO TO *@
            @*   MENU</a></button> *@
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <div class="slider-content-container">
          <img src="images/pastaslider3.jpg" class="d-block w-100 slider-image" alt="...">
          <div class="slider-content">
            <div class="slider-subheader">EXPERIENCE THE DIFFERENCE</div>
            <div class="slider-header">DISCOVER PASTARIA'S 'PASTA' WORLD</div>
            @* <button class="slider-button"><a style="text-decoration: none;" class="text-warning" href="menu.html">GO TO *@
            @*   MENU</a></button> *@
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>